:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --team-background-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*logo*/

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-text-color);
}
.accent-header {
  color: var(--title-text-color);
}
.accent-footer {
  color: var(--primary-background-color);
}
.accent-adress {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--primary-background-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*navigation*/

.navigation {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}
.navigation.link {
  text-decoration: none;
}
.navigation.link.current {
  color: var(--accent-text-color);
}
.navigation.link:hover {
  color: var(--accent-text-color);
}
.navigation-link:focus {
  color: var(--accent-text-color);
}

/*contacts*/

.contacts {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}
.contacts.link {
  text-decoration: none;
}
.contacts.link:hover {
  color: var(--accent-text-color);
}
.contacts.link:focus {
  color: var(--accent-text-color);
}

/*main part*/

/*hero*/

.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
}

.hero-title {
  color: var(--primary-background-color);
  text-transform: uppercase;
}

.hero-button {
  color: var(--primary-background-color);
  background-color: var(--accent-text-color);
  font-size: inherit;
  cursor: pointer;
}

/*sections*/

.section-title {
  color: var(--title-text-color);
}
.advantages {
  list-style: none;
}
.advantages-title {
  color: var(--title-text-color);
}
.advantages-description {
  font-size: 14px;
  line-height: 1.7;
}
.activity {
  list-style: none;
}
.team {
  list-style: none;
}
.team-member {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.18;
}
.team-member-description {
  font-size: 16px;
  line-height: 1.18;
}
.section-team {
  background-color: var(--team-background-color);
}
.buttons-panel {
  list-style: none;
}
.projects {
  list-style: none;
}
.projects-example {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
}
.projects-description {
  font-size: 16px;
  line-height: 1.9;
}
.footer-style {
  background-color: var(--secondary-background-color);
  text-decoration: none;
}

/*buttons*/

.button {
  color: #212121;
  background-color: var(--team-background-color);
  font-size: inherit;
  cursor: pointer;
}
.hero.button {
  color: var(--primary-background-color);
  background-color: var(--accent-text-color);
  font-size: inherit;
  cursor: pointer;
}
.button:hover {
  background-color: var(--accent-text-color);
  color: var(--primary-background-color);
}
