:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --underline-color: #eeeeee;
  --main-menu-stroke-color: #ececec;
  --clients-card-border-color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.header-style {
  border-bottom: 1px solid var(--main-menu-stroke-color);
}
.header-line {
  display: flex;
  align-items: center;
}

/*logo*/

.logo-header {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-text-color);
  margin-right: 93px;
}

.logo-footer {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-text-color);
  margin: right 0;
}

.accent-header {
  color: var(--title-text-color);
}
.accent-footer {
  color: var(--primary-background-color);
}
.accent-adress {
  color: var(--primary-background-color);
}

/*navigation*/

.navigation {
  display: flex;
}

.navigation-link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link.current {
  color: var(--accent-text-color);
}
.navigation-link:hover {
  color: var(--accent-text-color);
}
.navigation-link:focus {
  color: var(--accent-text-color);
}
.navigation-link.current::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.25);
}

.navigation-item {
  margin-right: 50px;
}
.navigation-item:last-child {
  margin-right: 0;
}

/*contacts*/

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-style: normal;
  justify-content: left;
}
.contacts-link {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
}
.contacts-item {
  display: flex;
  align-items: baseline;
  margin-right: 50px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
}

.contacts-link:hover svg,
.contacts-link:focus svg {
  fill: var(--accent-text-color);
}
.contacts-item:last-child {
  margin-right: 0;
}

/*main part*/

/*hero*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/overlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--primary-background-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-top: 0px;
}

.hero-button {
  color: var(--primary-background-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*sections*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
/*2nd section - advantages*/

.advantages {
  display: flex;
  margin: 0;
}
.advantages-title {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.advantages-description {
  margin-top: 0;
  margin-bottom: 0;
}
.advantages-item {
  margin-right: 30px;
}
.advantages-item:last-child {
  margin-right: 0;
}
.advantages-head {
  padding: 25px;
  display: flex;
  background-color: var(--team-background-color);
  border-radius: 4px;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
}
.advantages-icon {
  width: 70px;
  height: 70px;
}

/*3rd section - activity*/

.work-place {
  padding-top: 0;
}
.activity {
  display: flex;
  justify-content: space-between;
}
.activity-item {
  position: relative;
}
.activity-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--primary-background-color);
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgba(47, 48, 58, 0.8);
}

/*4th section - team*/

.team {
  display: flex;
}
.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
}
.team-description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
.team-background {
  background-color: var(--team-background-color);
}
.team-item {
  margin-right: 30px;
}
.team-item:last-child {
  margin-right: 0;
}
.social {
  display: flex;
  justify-content: center;
}
.social-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item {
  margin-right: 10px;
}
.social-item:last-child {
  margin: 0;
}

.social-pic {
  fill: var(--clients-card-border-color);
  height: inherit;
  width: inherit;
  padding: 12px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-text-color);
}
.social-link:hover svg,
.social-link:focus svg {
  fill: var(--primary-background-color);
}

/*5th section - clients*/

.clients {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.clients-link {
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clients-card-border-color);
  border-radius: 4px;

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: var(--clients-card-border-color);
  height: 60px;
  width: 106px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-text-color);
}

.clients-link:hover svg,
.clients-link:focus svg {
  fill: var(--accent-text-color);
}

/*footer*/

.adress-item {
  margin-bottom: 9px;
}
.adress-item:last-child {
  margin-bottom: 0;
}

/*PORTFOLIO-page*/

.projects {
  display: flex;
  flex-wrap: wrap;
}
.projects-link {
  display: block;
  text-decoration: none;
}
.projects-action {
  position: relative;
  overflow: hidden;
}
.projects-link:hover .projects-overlay {
  transform: translateX(0);
}
.projects-link:focus .projects-overlay {
  transform: translateX(0);
}

.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-text-color);
  opacity: 0.9;

  transform: translateY(+100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text {
  color: var(--primary-background-color);
  padding: 63px 24px;
  height: 100%;
  font-size: 18px;
}

.projects-card {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid var(--underline-color);
  border-top: transparent;
}
.projects-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
.projects-description {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}
.projects-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects-item:nth-child(3n) {
  margin-right: 0;
}
.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.footer-style {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

/*buttons*/

.button {
  color: #212121;
  font-family: inherit;
  background-color: var(--team-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-background-color);
  box-shadow: 0px 4px 4px 0px #00000040;
}
.button-menu {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.button-menu-item {
  margin-right: 8px;
}
.button-menu-item:last-child {
  margin-right: 0;
}
/*adress-footer*/

.footer-adress {
  margin-top: 20px;
  font-style: normal;
}
.footer-position {
  align-items: baseline;
  display: flex;
}
.footer-icon {
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}
.footer-icon svg {
  fill: var(--primary-background-color);
}
.footer-block {
  margin-right: 70px;
}
.footer-block:last-child {
  margin-right: 0;
}

.joinus {
  display: flex;
  margin: 0;
}
.joinus-item {
  margin-right: 10px;
}
.joinus-item:last-child {
  margin-right: 0;
}

.joinus-title {
  color: var(--primary-background-color);
  font-size: 14px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 581px;
  width: 528px;

  background-color: var(--primary-background-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000040;

  transform: translate(-50%, -50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--primary-background-color);
  padding: 6px;
  margin-top: 8px;
  margin-right: 8px;
}
.modal-icon {
  height: inherit;
  width: inherit;
}
.button-place {
  display: flex;
  justify-content: flex-end;
}
