.adress {
  margin-top: 20px;
  font-style: normal;
}
.adress__item {
  margin-bottom: 9px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
.adress__accent {
  color: $primary-background-color;
}
