.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  @include animation(opacity);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;

    &.modal {
      transform: translate(-50%, -50%);
    }
  }
}
