body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &--activity {
    padding-top: 0px;

    @media (max-width: 1199px) {
      display: none;
    }
  }
  &--team {
    background-color: $team-background-color;
  }
}
.section__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
