.clients {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.clients__item {
  margin-right: 30px;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 60px) / 3);

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.clients__link {
  width: 210px;
  padding: 16px 52px;
  @extend %centered;
  border: 1px solid $clients-card-border-color;
  border-radius: 4px;

  @include animation(border-color);

  &:hover,
  &:focus {
    border-color: $accent-text-color;
  }
  &:hover svg,
  &:focus svg {
    fill: $accent-text-color;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    padding: 16px 32px;
  }
}

.clients__icon {
  fill: $clients-card-border-color;
  height: 60px;
  width: 106px;

  @include animation(fill);
}
