.logo {
  display: flex;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: $accent-text-color;
  margin-right: 93px;

  &--footer {
    margin-right: 0;
    justify-content: center;

    @media screen and (min-width: 1200px) {
      justify-content: left;
    }
  }
}
