.logo {
  display: flex;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: $accent-text-color;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 0;
    padding-bottom: 0;
  }

  &--footer {
    margin-right: 0;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;

    @media screen and (min-width: 1200px) {
      justify-content: left;
    }
  }
}
