.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: scroll;

  @media screen and (max-width: 1199px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
  }

  background-color: $primary-background-color;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px $primary-text-color;

  transform: translate(-50%, -50%);
  @include animation(opacity);
}
.modal__close-button {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: $primary-background-color;
  padding: 6px;
  top: 8px;
  right: 8px;

  &:hover svg,
  &:focus svg {
    fill: $accent-text-color;
  }
}
.modal__close-icon {
  height: inherit;
  width: inherit;

  @include animation(fill);
}
.modal__form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
}
.modal__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 0.86;
  color: $title-text-color;
  margin-bottom: 12px;

  @media screen and (max-width: 1199px) {
    line-height: 1.5;
  }
}
.modal__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.modal__label {
  margin-bottom: 4px;
  font-size: 12px;
}
.modal__input {
  margin: 0;
  padding: 12px;
  padding-left: 42px;
  border-radius: 4px;
  border-color: $modal-input-border-color;
  border-style: solid;
  cursor: pointer;

  @include animation(border-color);

  &:focus,
  &:hover {
    border-color: $accent-text-color;
  }
  &:focus + .modal__icon,
  &:hover + .modal__icon {
    fill: $accent-text-color;
  }
}
.modal__icon {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  bottom: 12px;
  left: 12px;

  @include animation(fill);
}
.modal__textarea {
  resize: none;
  width: 100%;
  min-height: 120px;
  border-radius: 4px;
  border-color: $modal-input-border-color;
  padding: 12px 16px;
}
.modal__checkbox {
  appearance: none;
  position: absolute;
}
.modal__submit-button {
  padding: 10px 55px;
  margin-right: auto;
  margin-left: auto;
  color: $primary-background-color;
  background-color: $accent-text-color;
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  border-radius: 4px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12);
}
.modal__agreement {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }
}
.modal__link {
  color: $accent-text-color;
  margin-left: 5px;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }
}
.modal__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $title-text-color;
  border-radius: 2px;
  margin-right: 6px;
}
.modal__checkbox:checked + .modal__checkbox-icon {
  background-color: $accent-text-color;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}
