.navigation {
  display: flex;
}
.navigation__link {
  display: block;
  color: $title-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  position: relative;

  @include animation(color);

  &:hover,
  &:focus {
    color: $accent-text-color;
  }

  &.current {
    color: $accent-text-color;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: $accent-text-color;
      border-radius: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      box-shadow: rgba(0, 0, 0, 0.25);
    }
  }
}
.navigation__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0px;
  }
}
