.projects {
  display: flex;
  flex-wrap: wrap;
}
.projects__link {
  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &:hover .projects__overlay,
  &:focus .projects__overlay {
    transform: translateX(0);
  }
}
.projects__action {
  position: relative;
  overflow: hidden;
}
.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $accent-text-color;
  opacity: 0.9;

  transform: translateY(+100%);
  @include animation(transform);
}
.projects__text {
  color: $primary-background-color;
  padding: 63px 24px;
  height: 100%;
  font-size: 18px;
}
.projects__card {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid $underline-color;
  border-top: transparent;
}
.projects__title {
  color: $title-text-color;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
.projects__description {
  font-size: 16px;
  line-height: 1.9;
  color: $primary-text-color;
}
.projects__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
