.subscribe {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.subscribe__button {
  display: inline-flex;
  align-items: center;
  color: $primary-background-color;
  background-color: $accent-text-color;
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  border-radius: 4px;
  border: none;
  width: 200px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    margin-left: 10px;
  }
}
.subscribe__icon {
  fill: $primary-background-color;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.subscribe__input {
  width: 450px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: $primary-background-color;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
  }

  &::placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
  }
}
