$primary-text-color: #757575;
$title-text-color: #212121;
$accent-text-color: #2196f3;
$primary-background-color: #ffffff;
$secondary-background-color: #2f303a;
$team-background-color: #f5f4fa;
$underline-color: #eeeeee;
$main-menu-stroke-color: #ececec;
$clients-card-border-color: #afb1b8;
$footer-icon-color: rgba(255, 255, 255, 0.1);
$activity-background-color: rgba(47, 48, 58, 0.8);
$modal-input-border-color: rgba(33, 33, 33, 0.2);
$shadow-color: #00000040;

$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
